@font-face {
  font-family: "Osaka";
  src: url("./files/fonts/osaka-re.ttf");
};
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@font-face {
  font-family: 'Airnt';
  src: url('./files/fonts/Airnt.otf');
}
@font-face {
  font-family: 'Bohuan';
  src: url('./files/fonts/Bohuan.ttf');
}

:root {
  --main-font: "Osaka";
  --text-font: "Kanit", sans-serif;
  --frontend-font: "Airnt";
  --backend-font: "Bohuan";
  --pixel-font: "Silkscreen", cursive;

  --accent-color: #d17cff;
  --green-color: #a3ff7c;
  --dark-color: #0a0a0a;
  --gray-border-color: #3b3b3b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: azure;
  font-family: var(--text-font);
  font-size: 1.2rem;
  transition: 0.2s;
}

body,
html {
  background-color: black;
}

.hide {
  filter: blur(10px);
  opacity: 0;
}